---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Space Tourism">
	<main class=" h-screen w-screen bg-cover bg-[url('home/background-home-desktop.jpg')]">

	<!-- 	<picture class="">
		<img class=" h-screen w-screen" src="/home/background-home-desktop.jpg" alt="">
		
	</picture>
	-->


	<header class=" pt-14 text-lg ">
		<nav class="  flex justify-between px-32 items-center">
			<ul>
				<img class="w-32" src="/shared/logo.svg" alt="">
			</ul>
			<ul class=" flex w-full">
				<div class="text-white border w-[750px] h-0 mx-16 absolute"></div>
			</ul>
			<ul class=" text-white flex bg-slate-700  py-10 px-24">
				<li><a class=" pr-16 flex" href=""><span class="pr-2">00 </span>HOME</a></li>
				<li><a class=" pr-16 flex" href=""><span class="pr-2">01 </span>DESTINATION</a></li>
				<li ><a class=" pr-16 flex" href=""><span class="pr-2">02 </span>CREW</a></li>
				<li><a class="flex" href=""><span class="pr-2">03 </span>TECHNOLOGY</a></li>
			</ul>
		</nav>
	</header>

<section class=" text-white flex justify-between mt-72 mx-32">

	<article class=" max-w-[490px] ">
		<h3 class=" text-3xl text-4 pb-10 font-light">SO, YOU WANT TO TRAVEL TO</h3>
		<h1 class=" text-8xl pb-12">SPACE</h1>
		<p class=" text-base font-light">Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!</p>
	</article>

	<div class=" grid place-content-end">
		<a class=" bg-white text-black px-16 py-28 rounded-full text-4xl" href="">EXPLORE</a>
	</div>

</section>


	</main>
</Layout>


